[Unit]
Description=TTun - Simple C Layer 3 Tunnel
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/ttun.conf
ExecStart=/usr/bin/ttun $LOCAL_PORT $REMOTE_IP $REMOTE_PORT

# یک ثانیه صبر می‌کند تا رابط tun0 ساخته شود، سپس به آن آی‌پی می‌دهد
ExecStartPost=/bin/sleep 1
ExecStartPost=/usr/bin/ip addr add ${TUN_IP} dev TTun
ExecStartPost=/usr/bin/ip link set TTun up

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target