[Unit]
Description=TTun Interface (%i)
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/ttun/%i.conf
ExecStart=/usr/bin/ttun-core ${LOCAL_PORT} ${REMOTE_IP} ${REMOTE_PORT} %i

# Wait for the TUN interface to be created, then assign the IP
ExecStartPost=/bin/sleep 1
ExecStartPost=/usr/bin/ip addr add ${TUN_IP} dev %i
ExecStartPost=/usr/bin/ip link set %i up

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target