[Unit]
Description=TTun TCP Interface (%i)
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/ttun/%i.conf
ExecStart=/usr/bin/ttun-core ${ROLE} ${LOCAL_PORT} ${REMOTE_IP} ${REMOTE_PORT} %i

ExecStartPost=/bin/sleep 1
ExecStartPost=/usr/bin/ip addr add ${TUN_IP} dev %i
ExecStartPost=/usr/bin/ip link set %i up

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target